<%- partial('_common/head') %>
<body>
    <%- partial('_common/navbar') %>
    <div class="all-container">
        <%- body %>
    </div>
    <%- partial('_common/rights') %>
    <%- partial('_common/foot') %>
</body>
</html>